.About {
    display: flex;
    align-items: center;
    justify-content: center;
}

.About h1 {
    margin: 50px 0;
}

.About h1 hr {
    width: 350px;
    display: block;
    margin: 0 auto;
}

.About .each-academic-background {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.About .each-academic-background .years {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80px;
    border-right: 1px solid #a1a1a1;
    height: 65px;
    padding-right: 5px;
    font-size: 17px;
}

.About .each-academic-background .academic-background-descriptions {
    display: flex;
    align-items: center;

    .school-img-div {
        width: 64px;
        display: flex;
        justify-content: center;
        margin: 0 7px;
    }

    p {
        width: 230px;
        font-size: 17px;
        line-height: 1.2;
    }
}

@media(max-width: 700px) {
    .container {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .About h1 hr {
        width: 280px;
    }

    .About .each-academic-background .academic-background-descriptions p {
        width: 180px;
    }
}