.About {
    display: flex;
    align-items: center;
    justify-content: center;
}

.About h1 {
    margin: 50px 0;
}

.About h1 hr {
    width: 350px;
    display: block;
    margin: 0 auto;
}

.About .each-academic-background {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
}

.About .each-academic-background .years {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 85px;
    border-right: 1px solid #8f8e8e;
    height: 60px;
    padding-right: 10px;
    margin-right: 20px;
}

.About .each-academic-background .academic-background-descriptions {
    display: flex;
    align-items: center;
}

.About .each-academic-background .academic-background-descriptions h4 {
    width: 200px;
    font-weight: 400;
    font-size: 18px;
}

.About .each-academic-background .academic-background-descriptions img {
    margin-right: 10px;
    border-radius: 5px;
}


@media(max-width: 700px) {
    .container {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .About h1 hr {
        width: 280px;
    }
}