.App {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Playfair", serif;
    /* font-family: "DM Serif Text", serif; */
}

nav {
    margin: 10px;
    padding: 12px 0;
    border-radius: 5px;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 5px #cacaca;
}

nav div {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav div span {
    text-decoration: none;
    transition: .3s all ease;
    margin: 0 30px;
}

nav div span i {
    color: #000;
    font-size: 17px;
    text-align: center;
}

p {
    font-size: 16px;
}

@media (max-width: 800px) {
    nav div {
        justify-content: center;
    }
}