.Contact {
    min-height: 1920px;
}

.Contact h1 {
    margin-top: -10%;
}

.Contact ul {
    list-style: none;
}

.Contact ul li {
    display: flex;
    align-items: center;
}

.Contact ul li i {
    font-size: 30px;
    margin-right: 10px;
}

.Contact ul li a, .Contact ul li span {
    font-size: 17px;
    color: #000;
}