.Home {
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .first-div {
        max-width: 700px;
        margin-top: -10%;
        margin-bottom: 15px;

        .icons {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: end;
                margin-bottom: -20px;

                li a {
                    text-decoration: none;
                    color: #000;
                    font-size: 25px;
                    margin: 0 20px;
                }
            }
        }

        .greeting {
            width: 100%;
            min-width: 340px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -10px;

            hr {
                width: 100%;
                margin-left: 10px;
            }
        }
    }
}

.Home .main-div-large {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .img-div {
        background-color: #9c9b9b;
        width: 250px;
        height: 335px;
        display: block;
        margin: 0 auto;

        img {
            width: 250px;
            margin-top: 10px;
            margin-left: 5px;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
        }
    }

    .name-div {
        display: flex;
        align-items: center;

        h1 {
            text-align: right;
            margin-top: 10px;
            font-weight: bold;
            font-size: 30px;
            font-family: "DM Serif Text", serif;
        }

        h4 {
            text-align: right;
        }
    }
}

.Home .main-div-small {
    display: none;
}

.img-div {
    background-color: #9c9b9b;
    width: 250px;
    height: 335px;
    display: block;
    margin: 0 auto;
    border-top: 2px solid #000;
    border-left:  2px solid #000;

    img {
        width: 250px;
        margin-top: 10px;
        margin-left: 10px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        }
    }

.name-div {
    width: 250px;
    display: block;
    margin: 0 auto;

    h1 {
        text-align: right;
        margin-top: 10px;
        margin-right: -10px;
        font-weight: bold;
        font-size: 30px;
        font-family: "DM Serif Text", serif;
    }

    h4 {
        text-align: right;
        margin-right: -10px;
    }
}

@media (max-width: 800px) {
    .Home .main-div-large {
        display: none;
    }

    .Home .main-div-small {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}