.Skills h1 {
    margin: 50px 0;
}

.Skills h1 hr {
    width: 350px;
    display: block;
    margin: 0 auto;
}

.Skills .container {
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 100px;
}

.Skills .container .card {
    display: block;
    margin: 0 auto;
    margin-bottom: 14px;
    width: 85px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #cacaca;
    margin-bottom: 20px;
    padding-top: 10px;
}

.Skills .container img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 80px;
    padding: 5px;
}

.Skills .container p {
    text-align: center;
    margin: 3px 0;
    font-weight: 600;
    font-size: 16px;
    border-top: 1px solid #a1a1a1;
}

@media (max-width: 500px) {
    .Skills .container {
        max-width: 300px;
    }

    .Skills .container .card {
        width: 77px;
    }

    .Skills .container img {
        width: 100%;
        height: 70px;
        padding: 3px;
    }

    .Skills .container h6 {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .Skills h1 hr {
        width: 280px;
    }
}